# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
eggs/
flask_session/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Flask
instance/
.webassets-cache/

# Editor/IDE specific
.idea/
.vscode/
*.swp
*~
.DS_Store

# Logs and temporary files
*.log
tmp/
