{% extends "layout.html" %}

{% block title %} Logged out {% endblock %}


{% block main %}
  <div class="logout-container">
    <h2 class="mb-3">You are logged out, <a href="/login" class="fw-bold">Login</a>.
     Don't have an Account? Please <a href="register">Sign up</a> for one and continue to the App.
    </h2>

    <p class="about-app">
      Expense Tracker is an app dedicated to help people/communities around the world with their money problems,
      we help you save money as you track how you spend it and set limits in order to spend your money properly.

      We don't just provide you with the tools, we also advice you on how to use your money without worrying about receipts clutter
      on grocery day. Try us.
    </p>
  </div>
  


{% endblock %}