{% extends "layout.html" %}

{% block title %} Logged out {% endblock %}


{% block main %}
  <div class="w-full max-w-7xl mx-auto px-4 py-6">
    <h1 class="text-4xl font-bold text-gray-900 dark:text-gray-100 mb-6 md:mb-8">Welcome to <span class="text-green-500 mr-1">Expense</span><span class="text-gray-950 mr-1 dark:text-gray-950 mr-1 lg:mb-4 md:mb-4">Tracker</span></h1>
    <h2 class="text-2xl font-semibold text-gray-900 dark:text-gray-100 mb-3 md:mb-5">You are logged out, <a href="/login" class="text-green-500">Login</a>.
     Don't have an Account? Please <a href="register" class="text-green-500">Sign up</a> for one and continue to the App.
    </h2>

    <h3 class="text-lg text-gray-700 dark:text-gray-300">
      Expense Tracker is an app dedicated to help people/communities around the world with their money problems,
      we help you save money as you track how you spend it and set limits in order to spend your money properly.

      We don't just provide you with the tools, we also advice you on how to use your money without worrying about receipts clutter
      on grocery day. Try us.
    </h3>
  </div>
  


{% endblock %}